/*

  BORDER RADIUS
  Docs: http://tachyons.io/docs/themes/border-radius/

  Base:
    br   = border-radius

  Modifiers:
    0 = 0/none
    1 = 1st step in scale
    2 = 2nd step in scale
    3 = 3rd step in scale
    4 = 4th step in scale

  Literal values:
    -100 = 100%
    -pill = 9999px

*/

$border-radii: (
  0: 0,
  1: .125rem,
  2: .25rem,
  3: .5rem,
  4: 1rem
) !default;

@mixin border-radius($partials-breakpoint: ''){
	@each $label, $size in $border-radii{
	.br#{$label}#{$partials-breakpoint} { border-radius: $size; }
	}

	.br-100 { border-radius: 100%; }
	.br-pill { border-radius: 9999px; }

	.br--bottom#{$partials-breakpoint} {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.br--top#{$partials-breakpoint} {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.br--right#{$partials-breakpoint} {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.br--left#{$partials-breakpoint} {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}
