/*

   FLOATS
   http://tachyons.io/docs/layout/floats/

   1. Floated elements are automatically rendered as block level elements.

   2. Don't forget to clearfix your floats with .cf

   Base:
     f = float

   Modifiers:
     l = left
     r = right
     n = none

*/

@mixin floats($partials-breakpoint:'') {
	.fl#{$partials-breakpoint} { float: left; }
	.fr#{$partials-breakpoint} { float: right; }
	.fn#{$partials-breakpoint} { float: none; }
}
