/*

   ROTATIONS

*/

@mixin rotations($partials-breakpoint:'') {
	.rotate-45#{$partials-breakpoint} {  transform: rotate(45deg); }
	.rotate-90#{$partials-breakpoint} {  transform: rotate(90deg); }
	.rotate-135#{$partials-breakpoint} { transform: rotate(135deg); }
	.rotate-180#{$partials-breakpoint} { transform: rotate(180deg); }
	.rotate-225#{$partials-breakpoint} { transform: rotate(225deg); }
	.rotate-270#{$partials-breakpoint} { transform: rotate(270deg); }
	.rotate-315#{$partials-breakpoint} { transform: rotate(315deg); }

	.rotate-0#{$partials-breakpoint} { transform: rotate(0deg); }
}
