/*
  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

  Base
    t = text-align

  Modifiers
    l = left
    r = right
    c = center
    j = justify
*/

@mixin text-align($partials-breakpoint:'') {
	.tl#{$partials-breakpoint}  { text-align: left; }
	.tr#{$partials-breakpoint}  { text-align: right; }
	.tc#{$partials-breakpoint}  { text-align: center; }
	.tj#{$partials-breakpoint}  { text-align: justify; }
}
