/*

  TYPOGRAPHY
  http://tachyons.io/docs/typography/measure/

  Measures:
    measure = literal value 30em (base line length)
    measure-narrow = literal value 34em (narrow line length)
    measure-wide = literal value 20em (wide line length)


*/

$measures: (
  "measure": 30em, 			// ~66 characters
  "measure-wide": 34em, 	// ~80 characters
  "measure-narrow": 20em 	// ~45 characters
) !default;

@mixin typography($partials-breakpoint:'') {

  @each $label, $size in $measures{
	.#{$label}#{$partials-breakpoint} { max-width: $size; }
  }

  .small-caps#{$partials-breakpoint} { font-variant: small-caps; }

	/* Book paragraph style - paragraphs are indented with no vertical spacing. */
  .indent#{$partials-breakpoint} {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .indent-w#{$partials-breakpoint} {
    text-indent: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
  }

	/* Combine this class with a width to truncate text
	   (or just leave as is to truncate at width of containing element. */
	.truncate#{$partials-breakpoint} {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

}
